.user-info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.user-info-dialog {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-info-title {
  font-size: 24px !important;
  font-weight: bold !important;
  color: #308a38;
  margin-bottom: 16px;
}

.user-info-content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 0fr);
  gap: 40px;
  padding: 10px;
  border: 3px solid #f5f5f5;
  border-radius: 20px;
  background-color: #f5f5f5;
  width: 90%;
  height: 80vh;
  box-shadow: 2px 2px 5px rgb(136, 136, 136);
  transition: 0.2s .3s ease-in-out;
}

.user-info-content :hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  scale: 0.99;
}

.user-info-content > div {
  position: relative;
}

.user-info-content > div::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

.user-info-label {
  font-weight: bold;
  font-size: 16px;
  width:100px;
  height: 44px;
  color: #308a38;
  border-right: 3px solid #cccccc;
  border-radius: 3px;
}

.user-info-value {
  width: 180px;
  height: 40px !important;
  font-size: 14px;
  color: #666;
  box-shadow: 2px 2px 5px rgb(136, 136, 136);
  border-radius: 10px;
  transition: 0.2s .3s ease-in-out;
  text-align: center;
}

.user-info-value :hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  scale: 0.99;
}

.user-info-value:hover {
  color: #00d9ff;
  cursor: pointer;
}

.user-info-dialog-edit-button,
.user-info-dialog-save-button,
.user-info-dialog-close-button {
  font-size: 14px;
  padding: 8px 16px;
  margin-top: 16px;
  border: none;
  border-radius: 4px;
  background-color: #308a38;
  color: #fff;
  cursor: pointer;
}

.user-info-dialog-save-button {
  background-color: #3ad11c;
}

.user-info-dialog-close-button {
  background-color: #ff4444;
}



@media (max-width: 768px) {
  .user-info-content {
    width: 80%;
  }

  .user-info-label,
  .user-info-value {
    margin-left: 0 !important;
    width: 60%;
  }

  .user-info-dialog-edit-button,
  .user-info-dialog-save-button,
  .user-info-dialog-close-button {
    margin-top: 10px !important;
    margin-left: 0 !important;
  }
}









.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.delete-button {
  margin-right: 10px;
  margin-top: 2% !important;
}

.add-user-button {
  margin-left: 10px;
}
.add-user-button {
  margin-top: 2% !important;
  background-color: #2caf42 !important; /* Set your desired color */
  color: #ffffff !important; /* Set the text color */
}

.title {
  margin-bottom: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.delete-button.active {
  color: red;
  margin-top: 2% !important;
}

.dialog-title {
  background-color: #f5f5f5;
}

.dialog-content {
  padding: 20px;
}

.dialog-actions {
  padding: 10px 20px;
  background-color: #f5f5f5;
  justify-content: flex-end;
}

.user-link {
  color: #2196f3;
  text-decoration: none;
}

.user-link:hover {
  text-decoration: underline;
}

/* Custom Styling */
.container {
  height: 110vh;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.select-container {
  width: 60px;
  height: 40px;
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}
.title {
  display: flex;
  justify-content: flex-start;
  font-weight: bolder!important;
}
.title-main{
  display: flex;
  justify-content: flex-start;
  font-weight: bolder!important;
}
.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-input {
  margin-right: 10px;
}

.menu-label {
  margin-right: 2px;
  font-weight: lighter;
  font-size: 13px;
  margin-left: auto;
}


.select-container {
  margin-left: 10px;
}



.search-bar .MuiOutlinedInput-root {
  background-color: #f0f0f0;
  border-radius: 4px;
  width: 200px;
}

.search-bar .MuiOutlinedInput-input {
  padding: 8px;
  color: #333;
}

.search-bar .MuiInputLabel-root {
  color: #888;font-size: 12px;
}

.search-bar .MuiInputLabel-outlined.Mui-focused {
  color: #333;
}

.search-bar .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #999;
}

.search-bar .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #333;
}


.go-button:hover {
  background-color: #3ad11c;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.delete-button {
  color: #f44336;
  margin-right: 10px;
}

.add-user-button {
  margin-left: 10px;
}

.title {
 
  color: #2caf42;
  font-size: larger;
  font-weight: bold;
}
.table-header {
  background-color: #e6e6e6;
  color: #ffffff;
  font-weight: bold;
}
.table-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dialog-title {
  background-color: #f5f5f5;
  font-weight: bold;
}

.dialog-content {
  padding: 20px;
}

.dialog-actions {
  padding: 10px 20px;
  background-color: #f5f5f5;
  justify-content: flex-end;
}

.user-link {
  color: #2196f3;
  text-decoration: none;
}

.user-link:hover {
  text-decoration: underline;
}

.add-user-dialog {
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.add-user-dialog-content {
  padding: 20px;
}

.add-user-dialog-actions {
  padding: 10px 20px;
  background-color: #f5f5f5;
  justify-content: space-between;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    height: 100vh;
    padding: 10px;
  }
  .title {
    display: none;
  }
  .action-buttons {
    justify-content: center;
  }
  .notif {
    position: fixed;
    top: 50%;
    left: 50%;

    right: auto;
  }
  .delete-button {
    margin-right: 0;
    margin-top: 20% !important;
    margin-bottom: 10px;
  }

  .add-user-button {
    margin-top: 20% !important;
    margin-left: 0;
  }

  .table-container {
    overflow-x: auto;
  }

  .pagination-container {
    margin-top: 20px;
    justify-content: center;
  }

  .add-user-dialog {
    width: 100%;
  }
  .search-bar {
    flex-direction: column;
    justify-content: center;
  }
  
  .search-input {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .menu-label {
    display: none;
  }
  .title-main
  {
   font-size: 20px !important;
   position: absolute !important;
   margin-top: -90px !important;
   margin-left: 38% !important;
  }
}

.burgerButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 7px;
  left: 1%;
  transition: transform 0.3s ease;
}

.burgerButton.open {
  transform: rotate(90deg);
}

.burgerIcon {
  width: 100%;
  height: 3px;
  background-color: #308a38;
  transition: background-color 0.3s ease;
}

/* Dropdown Menu */
.dropdownMenu2 {
  position: absolute;
  top: 50px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.dropdownMenu2 button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdownMenu2 button:hover {
  background-color: #f5f5f5;
}

.sub
{
  color: #308a38;
}

.dropdownMenu {
  position: absolute;
  top: 50px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the right position as needed */
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  backdrop-filter: blur(5px); /* Adjust the blur value as needed */
}


.dropdownMenu button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdownMenu button:hover {
  background-color: #ddecde;
}

.sub
{
  color: #308a38;
}

.dropdownRows {
  flex-direction: row;
}




.profile {
  position: absolute;
  top: 4px;
  right: 1%;
  width: 30px;
  padding: 8px;
  background-color: transparent;
  color: #308a38;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.4s ease-in-out;
}
.profile:hover {
  background-color: #fff;
  color: #a7a7a7;
}

.notif {
  position: absolute;
  top: 4px;
  right: 4%;
  width: 30px;
  padding: 8px;
  background-color: transparent;
  color: #308a38;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.4s ease-in-out;
}
.notif:hover {
  background-color: #fff;
  color: #a7a7a7;
}