<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.seatPlan.project.dao.MachineDao">

            <insert id="insertMachine"  parameterType="com.seatPlan.project.model.MachineInputModel"
            useGeneratedKeys="true" keyProperty="user_id" >
                INSERT INTO table_user (
                    first_name, 
                    created_by,
                    is_machine)
                VALUES (
                    #{first_name}, 
                    #{created_by},
                    1)
            </insert>

            <select id="getAllMachine" resultType="com.seatPlan.project.model.MachineModel">
                SELECT
                    tu.user_id,
                    tu.first_name,
                    GROUP_CONCAT(DISTINCT up.project_id) AS project_ids,
                    GROUP_CONCAT(DISTINCT pr.project_name SEPARATOR ', ') AS project_name
                FROM
                    table_user tu
                LEFT JOIN
                    table_userproject up ON tu.user_id = up.user_id
                LEFT JOIN
                    table_project pr ON up.project_id = pr.project_id
                WHERE
                    tu.is_deleted = 0 AND tu.is_machine = 1
                GROUP BY
                    tu.user_id, tu.first_name;

            </select>

            <update id="deleteMachineById">
                UPDATE table_user SET is_deleted = 1 WHERE user_id = #{user_id}
            </update>



            <update id="updateMachine" parameterType="com.seatPlan.project.model.MachineModel">
                UPDATE table_machine
                <set>
                    <if test="machine_name != null">machine_name = #{machine_name},</if>
                    <if test="project_id != null">project_id = #{project_id},</if>
                    <if test="updated_by != null">updated_by = #{updated_by},</if>
                </set>
                WHERE machine_id = #{machine_id}
            </update>


            <select id="getMachineById" >
                SELECT user_id FRORM table_user WHERE user_id = #{user_id}
            </select>
            
            <insert id="insertMultipleProject" parameterType="com.seatPlan.project.model.UserInputModel">
                INSERT INTO table_userproject (user_id, project_id) VALUES
                <foreach collection="project_id" item="project_id" separator=",">
                    (#{generatedUserId}, #{project_id})
                </foreach>
            </insert>

            <delete id="deleteExistingProject" parameterType="com.seatPlan.project.model.MachineModel">
                DELETE FROM table_userproject WHERE user_id = #{generatedUserId}
            </delete>
            
</mapper>