<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.seatPlan.project.dao.ProfileDao">

            <select id="showUserById" resultType="com.seatPlan.project.model.UserModel">
                SELECT u.*, p.position_name, s.staffstatus_name
                FROM table_user u
                LEFT JOIN table_position p ON u.position_id = p.position_id
                LEFT JOIN table_staffstatus s ON u.staffstatus_id = s.staffstatus_id
                WHERE u.user_id = #{user_id}
            </select>

        </mapper>