<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seatPlan.project.dao.ProjectDao">

    <insert id="insertProject" parameterType="com.seatPlan.project.model.ProjectInputModel">
        INSERT INTO table_project (
            project_name, 
            color_id,  
            created_by)
        VALUES (
            #{project_name}, 
            #{color_id},
            #{created_by})
    </insert>

    <select id="getAllProjects" resultType="com.seatPlan.project.model.ProjectModel">
        SELECT 
            p.project_id, 
            p.project_name, 
            p.color_id, 
            c.color_name AS color_name, 
            p.created_by 
        FROM table_project p
        JOIN table_color c ON p.color_id = c.color_id
        WHERE p.is_deleted = 0;
    </select>

    <select id="countProject" resultType="int">
        SELECT COUNT(*) FROM table_project
    </select>

    <update id="deleteProjectById">
        UPDATE table_project SET is_deleted = 1 WHERE project_id = #{project_id}
    </update>

    <select id="getAllColors" resultType="com.seatPlan.project.model.ColorModel">
        SELECT color_id, color_name, color_code FROM table_color WHERE color_name != "White"
    </select>


    <select id="getProjectByname" resultType="com.seatPlan.project.model.ProjectInputModel">
        SELECT project_name FROM table_project WHERE project_name = #{project_name} AND is_deleted = 0
    </select>

</mapper>
