<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seatPlan.project.dao.SeatDao">

    <!-- <select id="getAllSeatModels" resultType="com.seatPlan.project.model.SeatModel">
        SELECT 
            ts.*, 
            COALESCE(tu.first_name, 'No') AS first_name,
            COALESCE(tu.last_name, 'User') AS last_name, 
            ta.area_name,
            COALESCE(tu.project_id, 0) AS project_id,
            COALESCE(tp.project_name, 'No Project') AS project_name,
            COALESCE(tc.color_code, '#FFFFFF') AS color_code,
            COALESCE(tss.seat_status, 'No Seat Status') AS seat_status
        FROM table_seat ts
        LEFT JOIN table_user tu ON ts.user_id = tu.user_id
        LEFT JOIN table_area ta ON ts.area_id = ta.area_id
        LEFT JOIN table_project tp ON tu.project_id = tp.project_id
        LEFT JOIN table_color tc ON tp.color_id = tc.color_id
        LEFT JOIN table_seatstatus tss ON ts.seatstatus_id = tss.seatstatus_id
    </select> -->


    <select id="getAllSeatModels" resultType="com.seatPlan.project.model.SeatModel">
        SELECT 
            ts.*, 
            CASE WHEN tu.is_deleted = 1 THEN 'No' ELSE COALESCE(tu.first_name, 'No') END AS first_name,
            CASE WHEN tu.is_deleted = 1 THEN 'User' ELSE COALESCE(tu.last_name, 'User') END AS last_name, 
            ta.area_name,
            CASE WHEN tu.is_deleted = 1 THEN 0 ELSE COALESCE(tu.project_id, 0) END AS project_id,
            CASE WHEN tu.is_deleted = 1 THEN 'No Project' ELSE COALESCE(tp.project_name, 'No Project') END AS project_name,
            CASE WHEN tu.is_deleted = 1 THEN '#FFFFFF' ELSE COALESCE(tc.color_code, '#FFFFFF') END AS color_code,
            COALESCE(tss.seat_status, 'No Seat Status') AS seat_status
        FROM table_seat ts
        LEFT JOIN table_user tu ON ts.user_id = tu.user_id
        LEFT JOIN table_area ta ON ts.area_id = ta.area_id
        LEFT JOIN table_project tp ON tu.project_id = tp.project_id
        LEFT JOIN table_color tc ON tp.color_id = tc.color_id
        LEFT JOIN table_seatstatus tss ON ts.seatstatus_id = tss.seatstatus_id
    </select>
    
    

    <insert id="insertComment"  parameterType="com.seatPlan.project.model.CommentInputModel">
        INSERT INTO table_comment (
            user_id,
            seat_id, 
            comment, 
            created_by)
        VALUES (
            #{user_id}, 
            #{seat_id}, 
            #{comment}, 
            #{created_by})
    </insert>

    <select id="getCommentByUserId" resultType="com.seatPlan.project.model.CommentModel">
        SELECT c.*, u.first_name, u.last_name
        FROM table_comment c
        JOIN table_user u ON c.user_id = u.user_id
        WHERE c.user_id = #{user_id} OR recipient_id = #{user_id}
        ORDER BY c.created_time DESC
    </select>

    <select id="getAllComment" resultType="com.seatPlan.project.model.CommentModel">
        SELECT c.*, u.first_name, u.last_name
        FROM table_comment c
        JOIN table_user u ON c.user_id = u.user_id
        ORDER BY c.created_time DESC

    </select>

    <update id="swapSeat"  parameterType="com.seatPlan.project.model.SeatModel">
        UPDATE table_seat
        <set>
            <if test="user_id != null">user_id = #{user_id},</if>
            <if test="updated_by != null">updated_by = #{updated_by},</if>
        </set>
        WHERE seat_id = #{seat_id}
    </update>


    <update id="updateSeat" parameterType="com.seatPlan.project.model.SeatModel">
        UPDATE table_seat
        <set>
            <if test="user_id != null">user_id = #{user_id},</if>
            <if test="seatstatus_id != null">seatstatus_id = #{seatstatus_id},</if>
            <if test="updated_by != null">updated_by = #{updated_by},</if>
        </set>
        WHERE seat_id = #{seat_id}
    </update>
    
    
    <select id="getSeatById" resultType="com.seatPlan.project.model.SeatModel">
        SELECT * FROM table_seat WHERE seat_id = #{seat_id} AND is_deleted = 0
    </select>


    <select id="getAllUser" resultType="com.seatPlan.project.model.UserModel">
        SELECT user_id, first_name, last_name
        FROM table_user
    </select>

</mapper>