body {
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden; /* Add this line to hide horizontal scroll */
  }
  
  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value if needed */
  }
  
  .form2 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%; 
    margin-top: 0%;
  }
  .img {
    background-image: url('./../assets/FAQ.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
  }
  
  
  .sub {
    position: absolute;
    top: 4px;
    right: 20px;
    width: 100px;
    padding: 8px;
    background-color: #fff;
    color: #2da738;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.4s ease-in-out;
  }
  
  .sub:hover {
    background-color: #308a38;
    color: #fff;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .form2 {
      width: 90%;
    }
  
  }
  