.backg
{
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-image: url('../assets/BG1.jpg');
  background-repeat: no-repeat;
  background-position: center;

}
   
   .burgerButton {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        height: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        position: absolute;
        top: 7px;
        left: 5%;
        transition: transform 0.3s ease;
      }

      .burgerButton.open {
        transform: rotate(90deg);
      }

      .burgerIcon {
        width: 100%;
        height: 3px;
        background-color: #308a38;
        transition: background-color 0.3s ease;
      }

      /* Dropdown Menu */
      .dropdownMenu2 {
        position: absolute;
        top: 50px; /* Adjust the top position as needed */
        right: 10px; /* Adjust the right position as needed */
        z-index: 100;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
      }

      .dropdownMenu2 button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        background-color: transparent;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .dropdownMenu2 button:hover {
        background-color: #f5f5f5;
      }

      .sub
      {
        color: #308a38;
      }

      .dropdownMenu {
        position: absolute;
        top: 50px; /* Adjust the top position as needed */
        left: 10px; /* Adjust the right position as needed */
        z-index: 100;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        backdrop-filter: blur(5px); /* Adjust the blur value as needed */
      }
      

      .dropdownMenu button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        background-color: transparent;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .dropdownMenu button:hover {
        background-color: #ddecde;
      }

      .sub
      {
        color: #308a38;
      }

      .dropdownRows {
        flex-direction: row;
      }




      .profile {
        position: absolute;
        top: 4px;
        right: 1%;
        width: 30px;
        padding: 8px;
        background-color: transparent;
        color: #308a38;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        margin-bottom: 10px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.4s ease-in-out;
      }
      .profile:hover {
        background-color: #fff;
        color: #a7a7a7;
      }

      .notif {
        position: absolute;
        top: 4px;
        right: 4%;
        width: 30px;
        padding: 8px;
        background-color: transparent;
        color: #308a38;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        margin-bottom: 10px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.4s ease-in-out;
      }
      .notif:hover {
        background-color: #fff;
        color: #a7a7a7;
      }

     .container {
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 
      .main {
        margin: 0 auto; /* Center the main element horizontally */
        display: flex; /* Add flex display to center its contents vertically */
        justify-content: center; /* Center the contents horizontally */
        align-items: center; /* Center the contents vertically */
        height: 100vh;
        background-color: transparent;
      }
      .container2 {
        min-height: calc(100vh - 20px); /* Set minimum height as 100% of the viewport height minus 20px */
        max-height: 300vh; /* Set maximum height as 200% of the viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        background-color: transparent;
      }
      
      .container2 > form {
        margin: 20px;
      }
      
      .container2 > form > .form2 {
        gap: 20px;
      }
      
      .container2 > form > .form3 {
        gap: 20px;
      }
      
      .container2 > form > .form4 {
        gap: 30px;
      }
      
      
      .form2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
        justify-content: flex-start; /* Align items from left to right */
        align-items: center;
        background-color: #ffffff;
        border-radius: 20px;
        margin-left: 69px;
        background-color: transparent;
        gap: 5px; /* Adjust the gap as needed */
      }
      
      .form3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; /* Align items from left to right */
        align-items: center;
        background-color: #ffffff;
        border-radius: 20px;
        gap: 10px; /* Adjust the gap as needed */
        width: 83%;
        height: 100vh;
        background-color: transparent;
      }
      
      .form4 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 20px;
        gap: 60px; /* Adjust the gap as needed */
        width: 100%;
      }
      
      .form4 > div {
        flex: 1; /* Allow the two card-like divs to share the available space equally */
      }
      

      .cardimg {
        background-size: 100% 100%;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-image: url('./../assets/loginbg.jpg');
      }
      .card {
        align-items: center;
        margin-left: 3%;
        height: 300px;
        width: 350px;
        background-color: white;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
        margin-top: 15px;
        border-radius: 20px;
        
      }
      .card2 {
        align-items: center;
        margin-left: 2%;
        padding: 20px;
        height: 100px;
        width: 130px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
      }.card3 {
        align-items: center;
        margin-left: 2%;
        padding: 20px;
        height: 100px;
        width: 130px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
      }.card4 {
        align-items: center;
        margin-left: 2%;
        padding: 20px;
        height: 100px;
        width: 130px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
      }
      .card6 {
        align-items: center;
        margin-left: 2%;
        padding: 20px;
        height: 100px;
        width: 130px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
      }
      .card7 {
        align-items: center;
        margin-left: 2%;
        padding: 20px;
        height: 100px;
        width: 130px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
      }
      .card8 {
        align-items: center;
        margin-left: 2%;
        padding: 20px;
        height: 100px;
        width: 130px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
      }
      .cardtitle {
        font-weight: bold;
        color: #308a38;
        font-size: 18px;
        margin-top: 10px;
      }

      .cardtext {
        font-size: 14px;
        color: gray;
        margin-bottom: 10px;
      }

      .date {
        font-size: 14px;
        color: gray;
        margin-bottom: 5px;
      }

      .time {
        font-weight: bold;
        font-size: 18px;
      }

      
       .scrollable::-webkit-scrollbar {
        width: 6px;
      }
      
       .scrollable::-webkit-scrollbar-track {
        background-color: #fff;
      }
      
       .scrollable::-webkit-scrollbar-thumb {
        background-color: #e6e6e6;
      }
      
       .scrollable::-webkit-scrollbar-thumb:hover {
        background-color: #e6e6e6;
      }





      .card2,
      .card3,
      .card4,
      .card6,
      .card7,
      .card8
      {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        background-color: white;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
        border-radius: 20px;
      }

      .card.title2,
      .card.title3,
      .card.title4,
      .card.title6,
      .card.title7,
      .card.title8,
      .card.title9,
      .card.title0 {
        background-color: #308a38;
        margin-top: 0; /* Remove top margin for other cards */
      }

      .cardtitle2,
      .cardtitle3,
      .cardtitle4,
      .cardtitle6,
      .cardtitle7,
      .cardtitle8,
      .cardtitle0 {
        font-weight: bold;
        font-size: 12px;
        margin-top: 10px;
      }


      .cardtitle5,
      .cardtitle9 {
        font-weight: bold;
        font-size: 18px;
        color: #308a38;
        margin-bottom: -100px;
      }



      .card5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 250px;
        padding: 20px;
        background-color: white;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
        border-radius: 20px;
      }

      .cardtitle5 {
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
      }


      .card9 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 20px;
        width: 475px;
        height: 250px;
        padding: 20px;
    
        background-color: white;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
        border-radius: 20px;
      }

      .cardtitle9 {
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
      }


      /* Add custom styles for card images and other classes as needed */


      /* Add custom styles for card images and other classes as needed */




      .card0:hover {
        transform: translateY(-5px);
        border-color: rgb(0, 255, 0);
      }
      .card:hover {
        transform: translateY(-5px);
        border-color: rgb(0, 255, 0);
      }.card1:hover {
        transform: translateY(-5px);
        border-color: rgb(0, 255, 0);
      }.card2:hover {
        transform: translateY(-5px);
        border-color: rgb(0, 255, 0);
      }.card3:hover {
        transform: translateY(-5px);
        border-color: rgb(0, 255, 0);
      }.card4:hover {
        transform: translateY(-5px);
        border-color: rgb(0, 255, 0);
      }.card5:hover {
        transform: translateY(-5px);
        border-color: rgb(0, 255, 0);
      }.card6:hover {
        transform: translateY(-5px);
        border-color: rgb(0, 255, 0);
      }.card7:hover {
        transform: translateY(-5px);
        border-color: rgb(0, 255, 0);
      }.card8:hover {
        transform: translateY(-5px);
        border-color: rgb(0, 255, 0);
      }
      .card9:hover {
      transform: translateY(-5px);
      border-color: rgb(0, 255, 0);
      }
      @media (max-width: 1200px) {
        .container {
          padding: 0 20px; /* Add padding to adjust the content width */
        }
      }
/* Media queries for responsiveness */
@media (max-width: 768px) {

  .notif {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .profile {
    position: absolute;
    top: 0;
    right: 0;
  }

  .burgerButton {
    position: absolute;
    top: 0;
    left: 2%;
    opacity: 0.5%;
  }

  .dropdownMenu {
    width: 100%;
  }

  .scrollable {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
.card{
width: 357px;
  margin-left: -1%;
}
  .card2,
  .card3,
  .card4,
  .card6,
  .card7,
  .card8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 93.3%;
    margin-left: -1%;
  }

  .card5,
  .card9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 110%;
    margin-left: -1%;
  }

  .cardtitle9 {
    font-size: 18px;
  }

  .cardtitle5 {
    font-size: 18px;
    margin-top: -100px;
  }
  .container {
    min-width: auto;
    max-width: auto;
    
  }
 .backg
 {
  height: 100vh;
 }
  .container2 {
    flex-direction: column;
    
  }

  .container2 > form {
    margin: 10px;
  }
 .backg
 {
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-image: url('./../assets/BG1.jpg');
  background-repeat: no-repeat;
  background-position: center;
 }

 .form2 {
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  margin-left: 0;
}

.form4 {
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

.form4 > div {
  flex: auto;
}
}
