<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.seatPlan.project.mapper.DashBoardMapper">

    <select id="countUser" resultType="int">
        SELECT COUNT(*) FROM table_user WHERE is_deleted = 0
    </select>
              
    <select id="countSeatAvailable" resultType="int">
        SELECT COUNT(*) FROM table_seat WHERE seatstatus_id = 1 AND is_deleted = 0
    </select>

    <select id="countTrainee" resultType="int">
        SELECT COUNT(*) FROM table_user WHERE staffstatus_id = 1
    </select>

    <select id="countRegular" resultType="int">
        SELECT COUNT(*) FROM table_user WHERE staffstatus_id = 2
    </select>

    <select id="countOccupied" resultType="int">
        SELECT COUNT(*) FROM table_seat WHERE seatstatus_id = 2 AND is_deleted = 0
    </select>

    <select id="countUnderMaintenance" resultType="int">
        SELECT COUNT(*) FROM table_seat WHERE seatstatus_id = 3 AND is_deleted = 0
    </select>

</mapper>
