

.backg
{
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-image: url('./../assets/BG1.jpg');
  background-repeat: no-repeat;
  background-position: center;

}
   
.burgerButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 7px;
  left: 1%;
  transition: transform 0.3s ease;
  z-index: 1000; /* Updated z-index value */
}
      .burgerButton.open {
        transform: rotate(90deg);
      }

      .burgerIcon {
        width: 100%;
        height: 3px;
        background-color: #308a38;
        transition: background-color 0.3s ease;
      }

      /* Dropdown Menu */
      .dropdownMenu2 {
        position: absolute;
        top: 50px; /* Adjust the top position as needed */
        right: 10px; /* Adjust the right position as needed */
        z-index: 100;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
      }

      .dropdownMenu2 button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        background-color: transparent;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .dropdownMenu2 button:hover {
        background-color: #f5f5f5;
      }

      .sub
      {
        color: #308a38;
      }

      .dropdownMenu {
        position: absolute;
        top: 50px; /* Adjust the top position as needed */
        left: 10px; /* Adjust the right position as needed */
        z-index: 100;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        backdrop-filter: blur(5px); /* Adjust the blur value as needed */
      }
      

      .dropdownMenu button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        background-color: transparent;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .dropdownMenu button:hover {
        background-color: #ddecde;
      }

      .sub
      {
        color: #308a38;
      }

      .dropdownRows {
        flex-direction: row;
      }




      .profile {
        position: absolute;
        top: 4px;
        right: 1%;
        width: 30px;
        padding: 8px;
        background-color: transparent;
        color: #308a38;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        margin-bottom: 10px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.4s ease-in-out;
        z-index: 1000; /* Updated z-index value */
      }
      
      .profile:hover {
        background-color: #fff;
        color: #a7a7a7;
      }

      .notif {
        position: absolute;
        top: 4px;
        right: 4%;
        width: 30px;
        padding: 8px;
        background-color: transparent;
        color: #308a38;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        margin-bottom: 10px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.4s ease-in-out;
        z-index: 1000; /* Updated z-index value */
      }
      .notif:hover {
        background-color: #fff;
        color: #a7a7a7;
      }
      .container{
        width: 100vw;
        height: 105vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .canvasWrapper {
        background-color: #fff;
        width: 100%;
        height: 100%; /* Adjust the height as needed */
        overflow: auto;
      }
      
      .scrollableCanvas {
        width: 100%;
        height: 100%;
      }
      
      
      
      
      .addSeatForm {
        margin-top: 2%;
        position: fixed;
        width: 120px;
        top: 20px;
        border: 1px solid transparent;
        border-radius: 20px;
        background-color: rgba(243, 243, 243, 0.3); /* Using rgba with opacity */
        right: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transition: background-color 0.3s ease;
      }
      
      .addSeatForm:hover {
        background-color: #dcdcdc;
      }
      
      
      
      .addSeatForm input[type='text']
      {
        border-color: transparent;
        margin-bottom: 10px;
        height: 20px;
        width: 100px;
        border-radius: 10px;
        z-index: 1000;
      }
      .addSeatForm input[type='color'] {
        margin-bottom: 10px;
        border-radius: 100px;
        width: 25px;
        z-index: 1000;
        cursor: pointer;
        border-color: transparent;
      }
      
      .addSeatForm button {
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        background-color: #308a38;
        color: #fff;
        cursor: pointer;
        z-index: 1000;
      }
      .addSeatForm button {
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: #308a38;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .addSeatForm button:hover {
        background-color: #2a7a31;
      }
      
      
      .draggableItem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 1px solid #000000;
        background-color: #f2f2f2;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
      }
      
      .zoomButtons {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
      }
      
      .zoomButtons button {
        
        width: 30px;
        height: 30px;
        padding: 0;
        border: none;
        background-color: rgba(218, 218, 218, 0.8);
        color: #555555;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s ease;
      }
      
      .zoomButtons button:hover {
        background-color: rgba(255, 255, 255, 1);
      }
      
      .zoomButtons button:first-child {
        border-bottom: 1px solid #cccccc;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      
      .zoomButtons button:last-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      /* seatplanPage.module.css */

     /* Blur the page when the popup is open */
     body.popupOpen {
      filter: blur(4px);
      pointer-events: none;
    }
/* Popup container */


/* Popup content */
.seatPopupContent {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #8d8d8d; /* Add a border with the desired color and thickness */
  padding: 30px; /* Add padding to create some space between the border and content */
}

.seatPopupContent h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.seatPopupContent form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seatPopupContent label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.seatPopupContent input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.seatPopupContent input[type="color"] {
  padding: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

.seatPopupContent button {
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.seatPopupContent button[type="submit"] {
  background-color: #28a745;
}
.seatPopupContent button:hover[type="submit"] {
  background-color: #0056b3;
}
.swapButton {
  background-color: #28a745 !important;
  margin-left: 10px;
}
.swapButton:hover {
  background-color: #0056b3 !important;
}
.editButton
{
  background-color: #28a745 !important;
}
.editButton:hover {
  background-color: #0056b3 !important;
}
.seatPopupContent select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  appearance: none;
  background-color: white;
  cursor: pointer;
}

/* Close button */
.seatPopupContent .closeButton {
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #ff0000;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 12px;
}

.seatPopupContent .closeButton:hover {
  color: #777;
}

.seatPopupContainer:not(seatPopupContent){
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(223, 223, 223, 0.9); /* Set the background color with transparency */
  z-index: 999; /* Ensure the popup appears on top of other elements */
}/* Common styles */

/* ... existing styles ... */

/* Responsive styles */
@media screen and (max-width: 768px) {
  .seatPopupContent {
    width: 80%; /* Adjust the width as needed */
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .seatPopupContent input[type="text"],
  .seatPopupContent input[type="color"],
  .seatPopupContent select {
    width: 100%; /* Make the inputs and select full width */
  }

  .seatPopupContent button {
    width: 100%; /* Make the buttons full width */
  }

  .seatPopupContent .closeButton {
    font-size: 14px; /* Adjust the font size as needed */
  }

  .seatPopupContainer:not(.seatPopupContent) {
    background-color: rgba(223, 223, 223, 0.9); /* Adjust the background color as needed */
  }
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .canvasWrapper {
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  

}
