

.form1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 95vh;
  margin: 0;
  margin-left: auto;
}

@font-face {
  font-family: 'League Spartan Regular';
  src: url('./../assets//LeagueSpartan-Regular.ttf') format('truetype');
  font-style: normal;
}

.signInContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 1px;
}

.sub {
  font-family: 'League Spartan Regular';
  font-size: 30px;
  padding: 15px;
  background-color: transparent;
  color: #005B08;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  margin-top: 30px;
}

.sub:hover {
  background-color: #1e7e28;
  color: #ffffff;
}

.container2 {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  margin-right: 100px;
}

@font-face {
  font-family: 'League Spartan Regular';
  src: url('./../assets/LeagueSpartan-Bold.ttf') format('truetype');
  font-style: normal;
}

.supportLink {
  font-family: 'League Spartan Regular';
  font-size: 30px;
  padding: 15px;
  background-color: transparent;
  color: #005B08;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.supportLink:hover {
  background-color: #1e7e28;
  color: #ffffff;
}

.textcontainer {
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: 30px;
  margin-right: 100px;
}



.text {
  font-family: 'League Spartan Bold';
  font-size: 100px;
  color: #374F59;
}

@media screen and (max-width: 768px) {
  .form1 {
    width: 70%;
    max-width: 400px;
  }

}